# Arquivos de build
build/
dist/
*.css.map
*.js.map

# Arquivos e diretórios específicos do ambiente de desenvolvimento
node_modules/
npm-debug.log
yarn-error.log

# Outros arquivos
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache e arquivos temporários
.cache/
.idea/
*.swp
*.swo

# Arquivos de dependência
yarn.lock
package-lock.json
